profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
    }
    conda {
        conda.enabled           = true
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
    }
    podman {
        podman.enabled          = true
        podman.userEmulation    = true
        podman.runOptions       = "--runtime crun --platform linux/x86_64 --systemd=always"
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}

docker.registry                 = 'quay.io'
podman.registry                 = 'quay.io'
singularity.registry            = 'quay.io'
apptainer.registry              = 'quay.io'

// Increase time available to build Conda environment
conda {
    createTimeout               = "120 min"
}

manifest {
    nextflowVersion             = '!>=23.04.0'
}
