process {

    withName: LTRFINDER {
        ext.args = '-harvest_out'
        // LTRRETRIEVER_LTRRETRIEVER requires -harvest_out
    }

    withName: LTRHARVEST {
        ext.prefix = { "${meta.id}_ltrharvest" }
    }

    withName: CAT_CAT {
        ext.prefix = { "${meta.id}_ltrharvest_ltrfinder.tabout" }
    }
}
