params {
    genome              = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/eukaryotes/actinidia_chinensis/genome/chr1/genome.fasta.gz'

    // Following parameters for ANNOSINE are not recommended.
    // These are used here with the test data to produce testable outputs
    annosine_ext_args   = '-a 2 -rpm 0 --copy_number 1 --shift 200'
}

process {
    resourceLimits = [
        cpus: 10,
        memory: '32.GB',
        time: '1.h'
    ]
}
