process {
    withName: 'HELITRONSCANNER_DRAW' {
        ext.args = '-pure_helitron'
    }

    withName: 'HELITRONSCANNER_SCAN_HEAD_RC' {
        ext.prefix = { "${meta.id}.rc" }
        ext.args = '--rc'
    }

    withName: 'HELITRONSCANNER_SCAN_TAIL_RC' {
        ext.prefix = { "${meta.id}.rc" }
        ext.args = '--rc'
    }

    withName: 'HELITRONSCANNER_DRAW_RC' {
        ext.prefix = { "${meta.id}.rc" }
        ext.args = '-pure_helitron'
    }
}
